@model Order

<div class="d-flex" style="width: 70%; ">
    <div class="card-body">
        <h3 class="text-start fw-lighter">@Model.FirstName @Model.LastName</h3>
        <h2 class="text-start fw-lighter">@Model.PhoneNumber</h2>
    </div>
    <div class="">
        <h3>Purchsed On:</h3>
        <h2 class="text-start fw-lighter">@Model.Date</h2>
    </div>
</div>
