@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <hr class="my-4">
    <a asp-area="" asp-controller="Products" asp-action="Add"
       class="btn btn-primary btn-lg">Add Product</a>
    <a asp-area="" asp-controller="Banner" asp-action="All"
       class="btn btn-primary btn-lg">Banners</a>
    <a asp-area="" asp-controller="Banner" asp-action="Add"
       class="btn btn-primary btn-lg">Add Banner</a>
</div>
