@model IEnumerable<Banner>

@{
    ViewData["Title"] = "Home Page";
    var products = Model.ToList();
}

<div class="">
    <div class="">
        @for (int i = 0; i < products.Count(); i++)
        {
            var product = products[i];
            <a class="" asp-controller="Products" asp-action="Product"
                            asp-route-productId="2">
            <div class="">
                <img class="img-fluid" style="width: 90vw"
                    src="@product.ImageUrl" alt="@product.Title">
                <div class="">
                    <h5>
                        
                    </h5>
                </div>
            </div>

            </a>
        }
    </div>
    <button class="" type="button" data-bs-target="" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="" type="button" data-bs-target="" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
