@model Banner

<div class="d-flex" style="width: 70%; ">
    <img class="card-img-top" style="width: 9rem;" src="@Model.ImageUrl" alt="Product Image">
    <div class="card-body">
        <h3 class="text-start fw-lighter">@Model.Title</h3>
    </div>
    <div class="d-flex">
        <a asp-controller="Banner" asp-action="Edit" asp-route-id="@Model.Id"
           class=""><img class="m-0 p-0" src="~/pen.png" width="30px" /></a>
        <form class="input-group-sm" asp-controller="Banner" asp-action="Delete" asp-route-productId="@Model.Id">
            <button class="btn btn-outline-none m-0 p-0 mb-1" type="submit"><img class="m-0 p-0" src="~/bin.png" width="30px"></img></button>
        </form> 
    </div>
</div>
