@using Microsoft.AspNetCore.Identity
@using Project.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="" asp-action="Liked" asp-controller="Liked" title="Manage"><img src="~/heart.png" width="20px" /></a>
        </li>
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-action="Cart" asp-controller="Cart" title="Manage"><img src="~/shopping-cart.png" width="20px" /></a>
        </li>
        
         <li class="nav-item">
        <a  class="nav-link text-dark">@User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
