@model List<CartProductViewModel>

@{
    ViewBag.Title = "Your shopping cart";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var product in Model)
    {
        <partial name="/Views/Cart/PartialViews/_CartItemPartial.cshtml" model="product"/>
    }
</div>
<br />
<div class="text-center ">
    <a asp-controller="Cart" asp-action="Information" class="btn btn-primary" style="width: 10%; font-size: 22px;">Buy</a>
</div>
