@{
    ViewBag.Title = "Thank You For Your Purchase";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">

<a class="btn btn-primary ps-4 pe-4 pt-2 pb-2 text-center col-2" asp-controller="Home" asp-action="Index">Back</a>
</div>
